table th {
    text-align: center;
  }
  
  table .btn {
    width: 100%;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
  }
  

  input[type="radio"] {
    appearance: auto !important;
  }