<c-row class="mt-4">
    <div class="col-12">
        <h3 class="mb-3">Clients et Rendez-vous</h3>

        <div *ngIf="messageError" class="alert alert-danger">
          {{ messageError }}
        </div>

        <table class="table" *ngIf="!messageError">
            <thead>
                <tr>
                    <th scope="col">Client</th>
                    <th scope="col">Prestations demandées</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td class="text-center">{{ client.client }}</td>
                    <td>
                      <li *ngFor="let prestation of client.prestations">
                        {{ prestation }}
                      </li>
                    </td>
                    <td>
                      <div *ngFor="let date of client.propositiondates">
                        <input
                          class="me-2 text-center"
                          type="radio"
                          name="date{{client.idrendezvous}}"
                          [value]="date"
                          (change)="selectDate(date, client.idrendezvous)">
                        <span>{{ date | date: 'EEEE, d MMMM y HH:mm':'UTC' }}</span>
                      </div>
                    </td>
                    <td class="d-flex">
                        <button
                            class="btn btn-success me-2"
                            (click)="acceptDate(client)"
                            [disabled]="!selectedDateMap[client.idrendezvous]">
                            Accepter
                        </button>
                        <button
                            class="btn btn-warning"
                            (click)="proposeDate(client)">
                            Proposer une autre date
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</c-row>



<c-modal id="liveDemoModal" [visible]="showSaisie" alignment="center">
    <c-modal-header>
      <h5 cModalTitle>Choisissez un mécanicien</h5>
      <button (click)="toggleLiveDemo()" cButtonClose class="btn btn-primary">X</button>
    </c-modal-header>

    <c-modal-body>
        <h5>Liste des mécaniciens disponibles</h5>

        <div *ngIf="mecaniciensDisponibles.length === 0" class="alert alert-info">
          Il n'y a pas de mécanicien disponible pour cette date.
        </div>

        <form [formGroup]="mecanicienForm" cForm (ngSubmit)="save()">

          <div class="list-group" *ngIf="mecaniciensDisponibles.length > 0">
            <label class="list-group-item" *ngFor="let mecanicien of mecaniciensDisponibles">
              <input class="me-1" type="radio" name="selectedMecanicien" [value]="mecanicien.id" (click)="selectMecanicien(mecanicien)">
              <span>{{ mecanicien.nom }} {{ mecanicien.prenom }}</span>
            </label>
          </div>

          <c-row class="mt-3">
            <c-col xs="12">
              <button
                cButton
                color="primary"
                type="submit"
                class="w-100"
              >
                Enregistrer
              </button>
            </c-col>
          </c-row>

        </form>

    </c-modal-body>
</c-modal>















<c-modal id="liveDemoModal" [visible]="proposeModal" alignment="center">
  <c-modal-header>
    <h5 cModalTitle>Propose une autre date</h5>
    <button (click)="toggleLiveDemoPropose()" cButtonClose class="btn btn-primary">X</button>
  </c-modal-header>

  <c-modal-body>
    <form [formGroup]="proposeForm" method="post" #uploadForm="ngForm" enctype="multipart/form-data" (ngSubmit)="submitProposeDate()">
      <label for="prestationSelect" class="form-label fs-5 mb-0">Date du rendez-vous</label>
      <div>
        <input type="datetime-local" formControlName="selectedDatePropose" class="form-control"/>
      </div>
      <c-row class="mt-3">
        <button
          cButton
          color="primary"
          type="submit"
          class="w-100"
        >
          Enregistrer
        </button>
      </c-row>
    </form>
  </c-modal-body>

</c-modal>
