<h3>Liste des propositions</h3>
<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
</div>
<div class="table-responsive" *ngIf="!errorMessage">
    <table cTable>
    <thead>
        <tr cTableColor="light">
        <th scope="col">Prestations demandées</th>
        <th scope="col">Mécanicien</th>
        <th scope="col">Date proposée</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rowData of listNewPropose">
        <td>
          <ul class="mb-0">
            <li *ngFor="let prestation of rowData.prestations">
              {{ prestation.nom || prestation }}
            </li>
          </ul>
        </td>
        <td class="text-nowrap">{{ rowData.mecanicien }}</td>
        <td class="text-nowrap">{{ rowData.propositiondate | date: 'EEEE, d MMMM y HH:mm':'UTC' }}</td>
        <td>
          <button
              class="btn btn-success me-2"
              (click)="acceptDatePropose(rowData.idrendezvous)">
              Accepter
          </button>
        </td>
        </tr>
    </tbody>
    </table>
</div>