<ng-container style="background-color: #162e52;">
  <c-container [fluid]="true" class="border-bottom px-4 header-manokana" id="">
    <button
      [cSidebarToggle]="sidebarId()"
      cHeaderToggler
      class="btn"
      toggle="visible"
      style="margin-inline-start: -14px;"
      aria-label="Toggle sidebar navigation"
    >
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>


    <c-header-nav class="d-none d-md-flex ms-auto">
      <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
        <button [caret]="false" cDropdownToggle class="btn border-0 bg-transparent position-relative" >
          <svg cIcon class="my-1" name="cilBell" size="lg"></svg>
          <span *ngIf="notifications?.length" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ notifications.length }}
          </span>
        </button>
        <ul cDropdownMenu class="pt-0 w-auto">
          <li *ngIf="notifications.length > 0" class="dropdown-header">Notifications</li>
          <li *ngFor="let notif of notifications">
            <a cDropdownItem href="#" (click)="handleNotifClick($event)">
              <svg cIcon class="me-2" name="cilBell"></svg>
              <span 
                class="d-inline-block"
                [ngClass]="{ 'fw-bold': notif.status === 'false' }"
                style="width: 600px; white-space: normal; word-break: break-word;">
                {{ notif.message }}
              </span>
            </a>
          </li>
          <li *ngIf="notifications.length === 0" class="dropdown-item text-muted">Aucune notification</li>
        </ul>
      </c-dropdown>
    </c-header-nav>

    

    <c-header-nav class="ms-auto ms-md-0">
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
    </c-header-nav>

    <c-header-nav class="mx-0">
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>

  </c-container>

  <c-container [fluid]="true" class="px-4 breadcrumb-manokana">
    <c-breadcrumb-router />
  </c-container>

</ng-container>
<!--</c-header>-->

<ng-template #userDropdown style="background-color: #162e52;">
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0 pe-0 border-0 bg-transparent d-flex align-items-center" aria-label="Open user menu">
      <c-avatar
        shape="rounded-1"
        [size]="'md'"
        src="./assets/images/avatars/default-user.jpg"
        status="success"
        textColor="primary"
        alt="User avatar"
      />
      <div class="ms-3 d-flex flex-column text-start">
        <p class="m-0 fw-bold">{{ nom }} {{ prenom }}</p>
      </div>
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li class="pt-2">
        <a cDropdownItem href="#" (click)="handleLogoutClick($event)">
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>
