<c-row class="mt-4">
    <c-col xs="12">
      <h3>Gestion des mecaniciens</h3>
      <c-card>
        <c-card-body>
          <table cTable striped hover>
            <thead>
              <tr>
                <th>Actions</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>E-mail</th>
                <th>Téléphone</th>
                <th>Mot de passe</th>
              </tr>
              <tr>
                <td>
                  <button (click)="addMecanicien()" class="btn btn-primary">+</button>
                </td>
                <td><input type="text" class="form-control" placeholder="Nom" [(ngModel)]="newMecanicien.nom"/></td>
                <td><input type="text" class="form-control" placeholder="Prénom" [(ngModel)]="newMecanicien.prenom"/></td>
                <td><input type="mail" class="form-control" placeholder="E-mail" [(ngModel)]="newMecanicien.email"/></td>
                <td><input type="tel" class="form-control" placeholder="Téléphone" [(ngModel)]="newMecanicien.telephone"/></td>
                <td><input type="text" class="form-control" placeholder="***" [(ngModel)]="newMecanicien.mdp"/></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mecanicien of mecaniciens; let i = index">
                <td class="d-flex">
                  <button *ngIf="editedIndex !== i" (click)="editMecanicien(i)" class="btn btn-warning me-2">✏️</button>
                  <button *ngIf="editedIndex === i" (click)="editMecanicienValider(mecanicien)" class="btn btn-success me-2">💾</button>
                </td>
            
                <td>
                  <input *ngIf="editedIndex === i" [(ngModel)]="mecanicien.nom" type="text" class="form-control" />
                  <span *ngIf="editedIndex !== i">{{ mecanicien.nom }}</span>
                </td>
            
                <td>
                  <input *ngIf="editedIndex === i" [(ngModel)]="mecanicien.prenom" type="text" class="form-control" />
                  <span *ngIf="editedIndex !== i">{{ mecanicien.prenom }}</span>
                </td>
            
                <td>
                  <input *ngIf="editedIndex === i" [(ngModel)]="mecanicien.email" type="email" class="form-control" />
                  <span *ngIf="editedIndex !== i">{{ mecanicien.email }}</span>
                </td>
            
                <td>
                  <input *ngIf="editedIndex === i" [(ngModel)]="mecanicien.telephone" type="text" class="form-control" />
                  <span *ngIf="editedIndex !== i">{{ mecanicien.telephone }}</span>
                </td>
              </tr>
            </tbody>
            
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  