<c-row>
    <div>
        <h1>Prendre un rendez-vous</h1>
        <p>Demande de préstation</p>
    </div>
    <div>
        <button cButton color="primary" (click)="goToDemandePrestation()">Prendre un rendez-vous</button>
    </div>
</c-row>

<c-row class="mt-4">
    <c-col xs="6">
        <h3>Demande rendez-vous en attente</h3>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
        <div class="table-responsive" *ngIf="!errorMessage">
            <table cTable>
            <thead>
                <tr cTableColor="light">
                <th scope="col">Date demande</th>
                <th scope="col">Prestations demandées</th>
                <th scope="col">Dates rendez-vous</th>
                <th scope="col">Motif</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rowData of rdvAttente">
                <td class="text-nowrap">{{ rowData.date | date:'dd/MM/yyyy HH:mm':'UTC' }}</td>
                <td>
                  <ul class="mb-0">
                    <li *ngFor="let prestation of rowData.prestations">
                      {{ prestation.nom || prestation }}
                    </li>
                  </ul>
                </td>
                <td>
                  <ul class="mb-0">
                    <li *ngFor="let proposition of rowData.propositiondates">
                      {{ proposition | date:'dd/MM/yyyy HH:mm':'UTC' }}
                    </li>
                  </ul>
                </td>

                <td class="text-nowrap">{{ rowData.motif }}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </c-col>
</c-row>
