<c-row class="mt-4" *ngIf="isAppear">

  <div class="mb-3">
    <h4>Recherche par date ou par avancement</h4>
    <div class="d-flex justify-content-between">
      <input type="datetime-local" class="form-control w-20 me-2" [(ngModel)]="selectedDate">

      <c-dropdown>
        <button  color="secondary" cDropdownToggle cButton class="w-40 me-2">
          {{ selectedAvancement ? getBadgeLabel(selectedAvancementNumber) : 'Sélectionner un avancement' }}
        </button>
      
        <ul cDropdownMenu >
          <li cDropdownItem *ngFor="let item of avancementList">
            <span class="badge rounded-pill" [ngClass]="getBadgeClass(item)" (click)="selectAvancement(item)" style="cursor: pointer;">
              {{ getBadgeLabel(item) }}
            </span>
          </li>
        </ul>
      </c-dropdown>

      <button class="btn btn-primary w-40" (click)="appliquer()">Appliquer</button>

    </div>
  </div>


    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h3>Tâches</h3>
        <button class="btn btn-outline-primary mb-2" (click)="reload()">🔄</button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date rendez-vous</th>
            <th scope="col">Client</th>
            <th scope="col">Prestations</th>
            <th scope="col">Status</th>
            <th scope="col">Détail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tache of listTache">
            <td class="align-items-center">{{ tache.datevalide | date: 'EEEE, d MMMM y HH:mm':'UTC' }}</td>
            <td class="align-items-center">{{ tache.client }}</td>
            <td>
              <ul>
                <li *ngFor="let prestation of tache.prestations">
                  {{ prestation.nom }}
                  <span class="badge rounded-pill" [ngClass]="getBadgeClass(prestation.avancement)">{{ getBadgeLabel(prestation.avancement) }}</span>
                </li>
              </ul>
            </td>
            <td>
              <span class="badge rounded-pill" [ngClass]="getBadgeClass(tache.avancement)">
                {{ getBadgeLabel(tache.avancement) }}
              </span>
            </td>
            <td>
                <button class="btn btn-outline-primary" (click)="goDetail(tache.idrendezvous)">
                  Voir détail
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </c-row>
