<c-row class="mt-4" *ngIf="isAppear">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h3>Tâches</h3>
        <button class="btn btn-outline-primary mb-2" (click)="reload()">🔄</button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date rendez-vous</th>
            <th scope="col">Client</th>
            <th scope="col">Prestations</th>
            <th scope="col">Status</th>
            <th scope="col">Détail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tache of listTache">
            <td class="align-items-center">{{ tache.datevalide | date:'dd/MM/yyyy HH:mm':'UTC' }}</td>
            <td class="align-items-center">{{ tache.client }}</td>
            <td>
              <ul>
                <li *ngFor="let prestation of tache.prestations">
                  {{ prestation.nom }}
                  <span class="badge rounded-pill" [ngClass]="getBadgeClass(prestation.avancement)">{{ getBadgeLabel(prestation.avancement) }}</span>
                </li>
              </ul>
            </td>
            <td>
              <span class="badge rounded-pill" [ngClass]="getBadgeClass(tache.avancement)">
                {{ getBadgeLabel(tache.avancement) }}
              </span>
            </td>
            <td>
                <button class="btn btn-outline-primary" (click)="goDetail(tache.idrendezvous)">
                  Voir détail
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </c-row>
